<h1 id='top'>Welcome to our site!</h1>

<% @menus.each do |menu| %>
  <%= link_to menu.name, "#menu-#{menu.name}", class: 'scroll-' %>
<% end %>

<h2>What do you feel like tonight?</h2>
<input type='string' placeholder='eg. Thai, Italian, Burger'/>
<input type='submit' value='Search' class='search-btn' />

<div class='restaurants'>
  <h2>Restaurants:</h2>
    <ul>
      <%= link_to 'ThaiTanic', '#' %><br />
      <%= link_to 'Fu King Chinese', '#' %>
    </ul>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
  mollit anim id est laborum.
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
  mollit anim id est laborum.
</p>

<div id='menus'>
  <%= render @menus %>
</div>
