<div class="card-footer" id="footer">
  <blockquote class="blockquote text-center mb-0">
    <p>Kitchen to Couch™</p>
    <div class=“blockquote-footer”>Thomas Ochman <cite title=“Source Title”>I don't like carts</cite></div>
  </blockquote>
</div>
