<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.description %></p>

<div id='menu-links'>
  <ul>
    <% @menus.each do |menu| %>
      <%= link_to menu.name, "#menu-#{menu.id}", class: 'scroll' %>
    <% end %>
  </ul>
</div>

<div id='menus'>
  <%= render @menus %>
</div>
